@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.t-height{
  height: 200vh;
}

.writing{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  top: 0;
}

.writing2{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  top: 0;
}

.icons{
  font-size: 1.5rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  
}